body {
  grid-template-columns: repeat(3, auto);
}

.feed {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column: span 3;
}

.date {
  grid-row: 1;
}

.time {
  grid-row: 1;
}

.meal {
  grid-row: 1;
}

.fed-by {
  grid-row: 1;
}

.food {
  grid-row: 2;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.food div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.type {
  margin: 0;
}

.how-much {
  width: 1.75rem;
  height: 1.75rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0.5rem;
}

.ate-most {
  background-image: url('../imgs/ate-most.png');
}
.ate-some {
  background-image: url('../imgs/ate-some.png');
}
.finished {
  background-image: url('../imgs/finished.png');
}
.finished-and-more {
  background-image: url('../imgs/finished-and-more.png');
}
.ate-none {
  background-image: url('../imgs/ate-none.png');
}
