body {
  grid-template-columns: repeat(2, auto);
}

.pagebtn {
  color: whitesmoke;
  background-color: var(--blue);
  font-size: 1.2rem;
}

#feedList {
  grid-row: 4;
  grid-column: span 2;
  display: grid;
  grid-template-columns: auto;
  margin-top: 2rem;
}

.legend {
  grid-row: 3;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.legend h2 {
  grid-column: span 5;
  text-align: center;
  margin-bottom: 1rem;
}

.feed {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding-bottom: 1rem;
  border-bottom: black solid 1px;
  align-items: center;
  padding-top: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

.date {
  grid-row: 1;
}

.time {
  grid-row: 1;
}

.meal {
  grid-row: 1;
  text-transform: capitalize;
}

.fed-by {
  grid-row: 1;
}

.food {
  grid-row: 2;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.food div,
.legend div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.type {
  margin: 0;
}

.how-much {
  width: 1.75rem;
  height: 1.75rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0.5rem;
}

.ate-most {
  background-image: url('../imgs/ate-most.png');
}
.ate-some {
  background-image: url('../imgs/ate-some.png');
}
.finished {
  background-image: url('../imgs/finished.png');
}
.finished-and-more {
  background-image: url('../imgs/finished-and-more.png');
}
.ate-none {
  background-image: url('../imgs/ate-none.png');
}
